:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Romanesco", cursive;
  font-weight: 400;
  font-style: normal;
}

/* #region header style */

header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: absolute;
  top: 0;
  z-index: 999;
  margin-bottom: 50px;
}

header ul {
  display: flex;
  gap: 20px;
}

header ul li {
  list-style: none;
}
header ul li img {
  width: 40px;
  height: 40px;
}

.cart {
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-div ul .cart-list {
  width: 10px;
  height: 50px;
  margin-left: 10px;
}

body header .title-div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body header .title-div img {
  width: 13%;
  height: 13%;
  margin-right: 10px;
  min-width: 50px;
}

body header .title-div h1 {
  color: white;
  width: 100px;
  font-size: 2rem;
  font-family: "Romanesco", cursive;
  font-weight: 400;
  font-style: normal;
}

body header .nav-div {
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

body header .nav-div a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Romanesco", cursive;
  font-weight: 400;
  font-style: normal;
}

/* #endregion */


/* #region footer */
.footer {
  width: 100%;
  height: 30vh;
  position: relative;
  bottom: 0;
  z-index: 99999;
  background-color: #81551e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.footer-title {
  display: flex;
  width: 250px;
  align-items: center;
  gap: 15px;
}

.footer-title img {
  width: 60px;
  height: 60px;
}

.footer-title h1 {
  color: white;
  width: 50%;
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-nav ul li {
  list-style: none;
  text-align: center;
}

.footer-nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.footer-iframe {
  height: 80%;
}

footer .footer-iframe iframe {
  width: 90%;
  height: 100%;
}

/* #endregion */



/* burger menu */

.burger-nav {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
  background-color: #543b1c;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger-nav a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.burger-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.burger-nav ul li {
  list-style: none;
}

.burger-nav ul li img {
  padding-left: 20px;
}

.burger-btn {
  display: none;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  background-image: url("../assets/images/bars-solid.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-active {
  right: 0;
}

.activeBurger {
  background-image: url("./assets/icons/xmark-solid.svg");
}

.cart img {
  width: 40px;
  height: 45px;
}

@media (max-width: 768px) {
  .burger-btn {
    display: flex;
    position: fixed;
    z-index: 1001;
    right: 15px;
    top: 18px;
  }

  .nav-div {
    display: none;
  }
}
